@use '../../shared/common/common.scss' as c;
@use '../../shared/palette/palette.scss' as p;

.appraisal {
    @include c.section();
    background-color: p.$coffe;

    p {
        color: white;
        font-size: 20px;
        margin-top: 0px;
    }

    video {
        width: 800px;
        border-radius: 8px;
        border: 4px solid white;
    }
}