@use '../../shared/common/common.scss' as common;
@use '../../shared/palette/palette.scss' as palette;

.schedule {
    /* margin-top: 58px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    /* background-color: palette.$primary; */
    /* padding: 24px;
 */
    h2 {font-size: 42px; margin-bottom: 12px; color: palette.$light-text; white-space: nowrap;}

    .events {
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        overflow-y: scroll;
        
        .event {
            border-radius: 8px;
            background-color: palette.$primary;
            /* border: 2px solid palette.$null-green; */
            padding: 14px;
            color: white;
            width: 95%;
            margin-bottom: 8px;
            
            
        }
    }
    

    a {color: inherit;}
}