@use '../../shared/common/common.scss' as c;
@use '../../shared/palette/palette.scss' as p;

.contact {
    position: relative;
    @include c.section();
    
    .contact-form {
        width: 100%;
        display: flex;
        .left {
            width: 50%;
            display: flex;
            flex-direction: column;


            label {
                color: white;
                font-size: 28px;
                font-weight: 600;
            }
            input {
                border: none;
                border-radius: 8px;
                background-color: p.$accent;
                padding: 14px;
                margin-top: 8px;
                margin-bottom: 14px;
                &:focus {
                    outline: 2px solid white;
                }
            }
            textarea {
                border: none;
                border-radius: 8px;
                height: 100px;
                background-color: p.$accent;
                padding: 14px;
                margin-top: 8px;
                margin-bottom: 14px;
                &:focus {
                    outline: 2px solid white;
                }
            }
            button {
                margin-top: 24px;
                width: min-content;
                padding: 14px;
                background-color: p.$secondary;
                color: p.$primary;
                font-size: 20px;
                font-weight: 600;
                white-space: nowrap;
            }

        }
        .right {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            .blob {
                background-image: url('https://cdn.dribbble.com/userupload/3401592/file/original-baf30a881e63618a0f376d39087e2fa6.jpg?compress=1&resize=1504x1128');
                background-size: cover;
                background-repeat: no-repeat;
                height: 100%;
                width: 90%;
                border: 5px solid p.$secondary;
                border-radius: 8px;
            }
        }
    }
}