@use '../../shared/common/common.scss' as common;
@use '../../shared/palette/palette.scss' as palette;

$offset: /* 15px */ 0px;

.speaking {
    position: relative;
    min-height: 100vh;

    @include common.section();
    .content {
        position: relative;
        top: 0px;

        .actions {
            display: flex;
            justify-content: space-between;
            width: 50%;
        }
        .secondary-action {
            color: palette.$secondary;
            font-size: 22px;
        }

        .schedule {
            margin-top: 58px;
            width: 800px;
            display: flex;
            flex-direction: column;
            border-radius: 8px;

            background-color: palette.$primary;
            padding: 24px;

            h2 {font-size: 42px; margin-bottom: 12px; color: palette.$light-text; white-space: nowrap;}

            .events {
                display: flex;
                flex-direction: column;
                max-height: 200px;
                overflow-y: scroll;
                
                .event {
                    border-radius: 8px;
                    background-color: palette.$null-green;
                    /* border: 2px solid palette.$null-green; */
                    padding: 10px;
                    color: white;
                    width: 700px;
                    margin-bottom: 8px;
                    
                    
                }
            }
            

            a {color: inherit;}
        }
    }

    p {
        color: white;
        font-size: 20px;
        margin-top: 20px;
        width: 50%;
        margin-bottom: 40px;
    }
    @media screen and (max-width: 900px) {
        p {
            width: 80%;
        }
    }
    @media screen and (max-width: 450px) {
        h1 {
            font-size: 34px;
        }
        p {
            width: 90%;
            font-size: 18px;
        }
    }
    h1 {color: white;}
    h2 {margin-top: 0; color: white; font-size: 32px;}

    background-image: url(../../assets/static/speaking-background-nolight.png);
    background-repeat: no-repeat;
    background-size: cover;

}

